<!-- ============================================================= SECTION – ABOUT ============================================================= -->

<section id="about" class="pagetop">

	<div class="container inner">
		<div class="row">
			
			<div class="col-md-8 inner-right-md">
				
				<!-- ============================================================= SECTION – HERO ============================================================= -->
			
				<section id="who-we-are">
					<header>
	                    <h1>{{t "about.hero.title"}}</h1>
	                    <h2>{{t "about.hero.description"}}</h2>
					</header>

					<div class="row">
						
						<div class="col-sm-6 inner-right-xs inner-bottom-sm">
							<h2>{{t "about.who.1.title"}}</h2>
							<p>{{t "about.who.1.description"}}</p>
						</div><!-- /.col -->
						
						<div class="col-sm-6 inner-left-xs inner-bottom-sm">
							<h2>{{t "about.who.2.title"}}</h2>
							<p>{{t "about.who.2.description"}}</p>
						</div><!-- /.col -->
						
					</div><!-- ./row -->
				</section>
				
				<!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->
				
			</div><!-- ./col -->
			
			<div class="col-md-4">
				
				<!-- ============================================================= SECTION – TEAM ============================================================= -->
			
				<section id="team" class="light-bg inner-xs inner-left-xs inner-right-xs">
						
					<h3 class="team-headline sidelines text-center"><span>{{t "contact.team.title"}}</span></h3>
					
					<div class="row thumbs gap-md text-center">
						
						<div class="col-sm-6 thumb">
							<figure class="member">
								
								<div class="member-image">
									
									<div class="text-overlay">
										<div class="info">
											<ul class="social">
												<li><a href="#"><i class="icon-s-facebook"></i></a></li>
												<li><a href="#"><i class="icon-s-gplus"></i></a></li>
												<li><a href="#"><i class="icon-s-twitter"></i></a></li>
											</ul><!-- /.social -->
										</div><!-- /.info -->
									</div><!-- /.text-overlay -->
									
									<img src="assets/images/art/human03.jpg">
									
								</div><!-- /.member-image -->
								
								<figcaption class="member-details bordered no-top-border">
									<h3>
										{{t "contact.team.nico.name"}}
										<span>{{t "contact.team.nico.function"}}</span>
									</h3>
								</figcaption>
								
							</figure>
						</div><!-- /.col -->
						
						<div class="col-sm-6 thumb">
							<figure class="member">
								
								<div class="member-image">
									
									<div class="text-overlay">
										<div class="info">
											<ul class="social">
												<li><a href="#"><i class="icon-s-facebook"></i></a></li>
												<li><a href="#"><i class="icon-s-gplus"></i></a></li>
												<li><a href="#"><i class="icon-s-twitter"></i></a></li>
											</ul><!-- /.social -->
										</div><!-- /.info -->
									</div><!-- /.text-overlay -->
									
									<img src="assets/images/art/human01.jpg">
									
								</div><!-- /.member-image -->
								
								<figcaption class="member-details bordered no-top-border">
									<h3>
										{{t "contact.team.mylene.name"}}
										<span>{{t "contact.team.mylene.function"}}</span>
									</h3>
								</figcaption>
								
							</figure>
						</div><!-- /.col -->
						
					</div><!-- /.row -->
					
					<div class="row thumbs gap-md text-center">
						
						<div class="col-sm-6 thumb last-bottom">
							<figure class="member">
								
								<div class="member-image">
									
									<div class="text-overlay">
										<div class="info">
											<ul class="social">
												<li><a href="#"><i class="icon-s-facebook"></i></a></li>
												<li><a href="#"><i class="icon-s-gplus"></i></a></li>
												<li><a href="#"><i class="icon-s-twitter"></i></a></li>
											</ul><!-- /.social -->
										</div><!-- /.info -->
									</div><!-- /.text-overlay -->
									
									<img src="assets/images/art/human05.jpg">
									
								</div><!-- /.member-image -->
								
								<figcaption class="member-details bordered no-top-border">
									<h3>
										{{t "contact.team.alain.name"}}
										<span>{{t "contact.team.alain.function"}}</span>
									</h3>
								</figcaption>
								
							</figure>
						</div><!-- /.col -->
						
					</div><!-- /.row -->
					
				</section>
				
				<!-- ============================================================= SECTION – TEAM : END ============================================================= -->
				
			</div><!-- /.col -->
				
		</div><!-- /.row -->
	</div><!-- /.container -->

</section>
<!-- ============================================================= SECTION – ABOUT : END ============================================================= -->


<!-- ============================================================= SECTION – VALUES ============================================================= -->

<section id="values" class="tint-bg img-bg-bottom img-bg-softer" style="background-image: url(assets/images/art/slider04.jpg);">
	<div class="container inner-top inner-bottom-sm">
		
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
                    <h1>{{t "about.motivations.title"}}</h1>
                    <p>{{t "about.motivations.description"}}</p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->
	
		<div class="row inner-top-sm">
			
			<div class="col-md-1">
				<div class="icon pull-right">
					<i class="icon-heart-empty-1 icn"></i>
				</div><!-- /.icon -->
			</div><!-- /.col -->
			
			<div class="col-md-3 inner-bottom-xs">
				<h2>{{t "about.motivations.1.title"}}</h2>
				<p class="text-small">{{t "about.motivations.1.description"}}</p>
			</div><!-- /.col -->
			
			<div class="col-md-1">
				<div class="icon pull-right">
					<i class="icon-lamp icn"></i>
				</div><!-- /.icon -->
			</div><!-- /.col -->
		
			<div class="col-md-3 inner-bottom-xs">
				<h2>{{t "about.motivations.2.title"}}</h2>
				<p class="text-small">{{t "about.motivations.2.description"}}</p>
			</div><!-- /.col -->
			
			<div class="col-md-1">
				<div class="icon pull-right">
					<i class="icon-star-empty-1 icn"></i>
				</div><!-- /.icon -->
			</div><!-- /.col -->
		
			<div class="col-md-3 inner-bottom-xs">
				<h2>{{t "about.motivations.3.title"}}</h2>
				<p class="text-small">{{t "about.motivations.3.description"}}</p>
			</div><!-- /.col -->
			
		</div><!-- /.row -->
	
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – VALUES : END ============================================================= -->


<!-- ============================================================= SECTION – TESTIMONIALS ============================================================= -->

<section id="testimonials" class="light-bg img-bg-softer" style="background-image: url(assets/images/art/pattern-background01.jpg);">
	<div class="container inner">
		
		<div class="row">
			<div class="col-md-5 col-sm-8 center-block text-center">
				<header>
					<h1>{{t "about.quotes.title"}}</h1>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->
		
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<div id="owl-testimonials" class="owl-carousel owl-outer-nav owl-ui-md">
					
					<div class="item">
						<blockquote>
							<p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor</p>
							<footer>
								<cite>Toto</cite>
							</footer>
						</blockquote>
					</div><!-- /.item -->
					
					<div class="item">
						<blockquote>
							<p>Mnemotix modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio.</p>
							<footer>
								<cite>John Doe</cite>
							</footer>
						</blockquote>
					</div><!-- /.item -->
					
					<div class="item">
						<blockquote>
							<p>Depeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor</p>
							<footer>
								<cite>Bill</cite>
							</footer>
						</blockquote>
					</div><!-- /.item -->
					
				</div><!-- /.owl-carousel -->
			</div><!-- /.col -->
		</div><!-- /.row -->
		
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – TESTIMONIALS : END ============================================================= -->


<!-- ============================================================= SECTION – PRESS AREA ============================================================= -->

<section id="press">
	<div class="container inner">
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
					<h1>{{t "about.press.title"}}</h1>
					<p>{{t "about.press.description"}}</p>
				</header>
				<a href="#press" class="btn btn-large">{{t "about.press.link"}}</a>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – PRESS AREA : END ============================================================= -->


<!-- ============================================================= SECTION – PATTERN BACKGROUND 2 ============================================================= -->

<section id="pattern-background-2" class="dark-bg img-bg-softer" style="background-image: url(assets/images/art/pattern-background02.png);">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-9 inner center-block text-center">
				<header>
					<h1>{{t "about.career.title"}}</h1>
					<p>{{t "about.career.description"}}</p>
				</header>
				<a href="" class="btn btn-large">{{t "about.career.link"}}</a>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – PATTERN BACKGROUND 2 : END ============================================================= -->


<!-- ============================================================= SECTION – REASONS ============================================================= -->

<section id="reasons" class="light-bg">
	<div class="container inner-top inner-bottom-sm">
		<div class="row">
			
			<div class="col-md-3 inner-right-xs inner-bottom-xs">
				<h2>Why you should work with Mnemotix</h2>
			</div><!-- /.col -->
			
			<div class="col-md-3 inner-right-xs inner-bottom-xs">
				<h3>Ploratati andigen</h3>
				<p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor quiae sitiorem rest tumquam core.</p>
			</div><!-- /.col -->
			
			<div class="col-md-3 inner-right-xs inner-bottom-xs">
				<h3>Wepsae que lib</h3>
				<p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor quiae sitiorem rest tumquam core.</p>
			</div><!-- /.col -->
			
			<div class="col-md-3 inner-right-xs inner-bottom-xs">
				<h3>Morem aut labor</h3>
				<p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor quiae sitiorem rest tumquam core.</p>
			</div><!-- /.col -->
			
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – REASONS : END ============================================================= -->


<!-- ============================================================= SECTION – PARTNERS ============================================================= -->

<section id="clients">
	<div class="container inner">
		
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
					<h1>{{t "about.partners.title"}}</h1>
					<p>{{t "about.partners.description"}}</p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->
		
		<div class="row thumbs gap-lg inner-top-sm">
					
					<div class="col-md-3 col-sm-4 col-xs-6 thumb">
						<figure>
							<figcaption class="text-overlay">
								<div class="info">
									<h4>Client</h4>
								</div><!-- /.info -->
							</figcaption>
							<img src="assets/images/art/client01.jpg" alt="">
						</figure>
					</div><!-- /.col -->
					
					<div class="col-md-3 col-sm-4 col-xs-6 thumb">
						<figure>
							<figcaption class="text-overlay">
								<div class="info">
									<h4>Client</h4>
								</div><!-- /.info -->
							</figcaption>
							<img src="assets/images/art/client02.jpg" alt="">
						</figure>
					</div><!-- /.col -->
					
					<div class="col-md-3 col-sm-4 col-xs-6 thumb">
						<figure>
							<figcaption class="text-overlay">
								<div class="info">
									<h4>Client</h4>
								</div><!-- /.info -->
							</figcaption>
							<img src="assets/images/art/client03.jpg" alt="">
						</figure>
					</div><!-- /.col -->
					
					<div class="col-md-3 col-sm-4 col-xs-6 thumb">
						<figure>
							<figcaption class="text-overlay">
								<div class="info">
									<h4>Client</h4>
								</div><!-- /.info -->
							</figcaption>
							<img src="assets/images/art/client04.jpg" alt="">
						</figure>
					</div><!-- /.col -->
					
					<div class="col-md-3 col-sm-4 col-xs-6 thumb">
						<figure>
							<figcaption class="text-overlay">
								<div class="info">
									<h4>Client</h4>
								</div><!-- /.info -->
							</figcaption>
							<img src="assets/images/art/client05.jpg" alt="">
						</figure>
					</div><!-- /.col -->
					
					<div class="col-md-3 col-sm-4 col-xs-6 thumb">
						<figure>
							<figcaption class="text-overlay">
								<div class="info">
									<h4>Client</h4>
								</div><!-- /.info -->
							</figcaption>
							<img src="assets/images/art/client06.jpg" alt="">
						</figure>
					</div><!-- /.col -->
					
					<div class="col-md-3 col-sm-4 col-xs-6 thumb">
						<figure>
							<figcaption class="text-overlay">
								<div class="info">
									<h4>Client</h4>
								</div><!-- /.info -->
							</figcaption>
							<img src="assets/images/art/client07.jpg" alt="">
						</figure>
					</div><!-- /.col -->
					
		</div><!-- /.row -->
		
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – PARTNERS : END ============================================================= -->


<!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->

<section id="get-in-touch" class="tint-bg">
	<div class="container inner-sm">
		<div class="row">
			<div class="col-sm-10 center-block text-center">
				<h1 class="single-block">{{t "about.touch.title"}} <a href="#contact" class="btn btn-large">{{t "about.touch.link"}}</a></h1>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->