<!-- ============================================================= SECTION – HERO ============================================================= -->
			
<section id="hero" class="dark-bg img-bg img-bg-soft pagetop" style="background-image: url(assets/images/art/slider02.jpg);">
	<div class="container inner-top-md inner-bottom-sm">
		<div class="row">
			
			<div class="col-md-8 inner-right inner-bottom-xs">
				<header>
					<h1>{{t "contact.hero.h1"}}</h1>
					<p>{{t "contact.hero.p"}}</p>
				</header>
			</div><!-- /.col -->
			
			<div class="col-md-4">
				<h3 style="margin-top: 8px;">mnemotix</h3>
				<ul class="contacts">
					<li><i class="icon-location contact"></i> 318 avenue de la Carraire, 06210 Mandelieu - FRANCE</li>
					<li><i class="icon-mobile contact"></i> +33 6 16 22 71 18</li>
					<li><a href="mailto:contact@mnemotix.com"><i class="icon-mail-1 contact"></i> contact@mnemotix.com</a></li>
					<li><a href="https://twitter.com/mnemotix" target="blank"><i class="icon-s-twitter contact"></i> @mnemotix.com</a></li>
				</ul><!-- /.contacts -->
			</div><!-- /.col -->
			
		</div><!-- ./row -->
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->

<div class="container inner">
	<div class="row">
		
		<div class="col-md-8 inner-right inner-bottom-xs">
			<h2>{{t "contact.h2"}}</h2>
			
			<p class="inner-bottom-xs">{{t "contact.p"}}</p>
			
			<!-- ============================================================= SECTION – CONTACT FORM ============================================================= -->
			
			<section id="contact-form">
				
				<form id="contactform" class="forms" role="form" action="contact.php" method="post">
					
					<div class="row">
						<div class="col-sm-6">
							<input type="text" name="name" class="form-control" placeholder="{{t "contact.form.name"}}" required>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row">
						<div class="col-sm-6">
							<input type="email" name="email" class="form-control" placeholder="{{t "contact.form.email"}}" required>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row">
						<div class="col-sm-6">
							<input type="text" name="subject" class="form-control" placeholder="{{t "contact.form.subject"}}">
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row">
						<div class="col-sm-12">
							<textarea name="message" class="form-control" placeholder="{{t "contact.form.message"}}"></textarea>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<button type="submit" class="btn btn-default btn-submit">{{t "contact.form.btn"}}</button>
					
				</form>
				
				<div id="response"></div>
				
			</section>
			
			<!-- ============================================================= SECTION – CONTACT FORM : END ============================================================= -->
			
		</div><!-- ./col -->
		
		<div class="col-md-4">
			
			<!-- ============================================================= SECTION – CONTACT NAMES ============================================================= -->
			
			<section id="contact-names" class="light-bg inner-xs inner-left-xs inner-right-xs">
					
				<h3 class="team-headline sidelines text-center"><span>{{t "contact.team.title"}}</span></h3>
				
				<div class="row thumbs gap-md text-center">
					
					<div class="col-sm-6 thumb">
						<figure class="member">
							
							<div class="member-image">
								
								<div class="text-overlay">
									<div class="info">
										<ul class="social">
											<li><a href="#"><i class="icon-s-facebook"></i></a></li>
											<li><a href="#"><i class="icon-s-gplus"></i></a></li>
											<li><a href="#"><i class="icon-s-twitter"></i></a></li>
										</ul><!-- /.social -->
									</div><!-- /.info -->
								</div><!-- /.text-overlay -->
								
								<img src="assets/images/art/human03.jpg">
								
							</div><!-- /.member-image -->
							
							<figcaption class="member-details bordered no-top-border">
								<h3>
									{{t "contact.team.nico.name"}}
									<span>{{t "contact.team.nico.function"}}</span>
								</h3>
							</figcaption>
							
						</figure>
					</div><!-- /.col -->
					
					<div class="col-sm-6 thumb">
						<figure class="member">
							
							<div class="member-image">
								
								<div class="text-overlay">
									<div class="info">
										<ul class="social">
											<li><a href="#"><i class="icon-s-facebook"></i></a></li>
											<li><a href="#"><i class="icon-s-gplus"></i></a></li>
											<li><a href="#"><i class="icon-s-twitter"></i></a></li>
										</ul><!-- /.social -->
									</div><!-- /.info -->
								</div><!-- /.text-overlay -->
								
								<img src="assets/images/art/human01.jpg">
								
							</div><!-- /.member-image -->
							
							<figcaption class="member-details bordered no-top-border">
								<h3>
									{{t "contact.team.mylene.name"}}
									<span>{{t "contact.team.mylene.function"}}</span>
								</h3>
							</figcaption>
							
						</figure>
					</div><!-- /.col -->
					
				</div><!-- /.row -->
				
				<div class="row thumbs gap-md text-center">
					
					<div class="col-sm-6 thumb last-bottom">
						<figure class="member">
							
							<div class="member-image">
								
								<div class="text-overlay">
									<div class="info">
										<ul class="social">
											<li><a href="#"><i class="icon-s-facebook"></i></a></li>
											<li><a href="#"><i class="icon-s-gplus"></i></a></li>
											<li><a href="#"><i class="icon-s-twitter"></i></a></li>
										</ul><!-- /.social -->
									</div><!-- /.info -->
								</div><!-- /.text-overlay -->
								
								<img src="assets/images/art/human05.jpg">
								
							</div><!-- /.member-image -->
							
							<figcaption class="member-details bordered no-top-border">
								<h3>
									{{t "contact.team.alain.name"}}
									<span>{{t "contact.team.alain.function"}}</span>
								</h3>
							</figcaption>
							
						</figure>
					</div><!-- /.col -->
					
				</div><!-- /.row -->
				
			</section>
			
			<!-- ============================================================= SECTION – CONTACT NAMES : END ============================================================= -->
			
		</div><!-- /.col -->
			
	</div><!-- /.row -->
</div><!-- /.container -->