<!-- ============================================================= FOOTER ============================================================= -->
<footer class="dark-bg">
    <div class="container inner">
        <div class="row">

            <div class="col-md-3 col-sm-6 inner">
                <h4>Who we are</h4>
                <a href="#"><img class="logo img-intext" src="assets/images/logo-white.svg" alt=""></a>
                <p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
                <a href="#about" class="txt-btn about-menu">More about us</a>
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-6 inner">
                <h4>Services</h4>
                <ul class="circled">
                    <li><a href="#mnxdatalab">commolu ptatemp</a></li>
                    <li><a href="#mnxdatalab">ibusam eumenis</a></li>
                    <li><a href="#mnxdatalab">nsent accullignise</a></li>
                    <li><a href="#mnxdatalab">commolu ptatemp</a></li>
                </ul>
                <h4>Soutions</h4>
                <ul class="circled">
                    <li><a href="#mnxdatalab">commolu ptatemp</a></li>
                    <li><a href="#mnxdatalab">ibusam eumenis</a></li>
                </ul>
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-6 inner">
                <h4>Ressources</h4>
                <ul class="circled">
                    <li><a href="http://mnemotix.com/tutoriels/">commolu ptatemp</a></li>
                    <li><a href="http://mnemotix.com/tutoriels/">ibusam eumenis</a></li>
                    <li><a href="http://mnemotix.com/tutoriels/">nsent accullignise</a></li>
                    <li><a href="http://mnemotix.com/tutoriels/">commolu ptatemp</a></li>
                    <li><a href="http://mnemotix.com/tutoriels/">ibusam eumenis</a></li>
                    <li><a href="http://mnemotix.com/tutoriels/">nsent accullignise</a></li>
                </ul>
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-6 inner">
                <h4>Latest News</h4>
                <p>Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea autem inisita.</p>
                <h4>Switch Language</h4>
                <ul class="contacts">
                    <li><a href="#"><i class="icon-mail-1 contact"></i> Français</a></li>
                </ul><!-- /.contacts -->
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- .container -->

    <div class="footer-bottom">
        <div class="container inner">
            <ul class="footer-menu pull-left">
                <li class=""><a href="#">Home</a></li>
                <li><a href="#legal">Legal Notice</a></li>
                <li><a href="#credits">Credits</a></li>
                <li><a href="#press">Press release</a></li>
                <li class=""><a href="#contact">Contact</a></li>
            </ul><!-- .footer-menu -->
            <p class="pull-right">&copy; 2014 MNEMOTIX. All rights reserved.</p>
        </div><!-- .container -->
    </div><!-- .footer-bottom -->
</footer>
<!-- ============================================================= FOOTER : END ============================================================= -->