<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero">
    <div id="owl-main" class="owl-carousel height-md owl-inner-nav owl-ui-lg">

        <div class="item" style="background-image: url(assets/images/art/slider01.jpg);">
            <div class="container">
                <div class="caption vertical-center text-center">
                    
                    <h1 class="fadeInDown-1 light-color">When data make sense</h1>
                    <p class="fadeInDown-2 medium-color">Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor.</p>
                    <div class="fadeInDown-3">
                        <a href="#" class="btn btn-large">Get started now</a>
                    </div><!-- /.fadeIn -->
                    
                </div><!-- /.caption -->
            </div><!-- /.container -->
        </div><!-- /.item -->

        <div class="item" style="background-image: url(assets/images/art/slider02.jpg);">
            <div class="container">
                <div class="caption vertical-center text-right">

                    <h1 class="fadeInLeft-1 light-color">Forem rest <br>ore posae volor</h1>
                    <p class="fadeInLeft-2 light-color">Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor.</p>
                    <div class="fadeInLeft-3">
                        <a href="#" class="btn btn-large">Get started now</a>
                    </div><!-- /.fadeIn -->

                </div><!-- /.caption -->
            </div><!-- /.container -->
        </div><!-- /.item -->

        <div class="item" style="background-image: url(assets/images/art/slider03.jpg);">
            <div class="container">
                <div class="caption vertical-center text-left">

                    <h1 class="fadeInRight-1 dark-bg light-color"><span>Clabor <br>daepeditem quiate</span></h1>
                    <p class="fadeInRight-2 dark-color">Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem.</p>
                    <div class="fadeInRight-3">
                        <a href="#" class="btn btn-large">Get started now</a>
                    </div><!-- /.fadeIn -->

                </div><!-- /.caption -->
            </div><!-- /.container -->
        </div><!-- /.item -->

        <div class="item" style="background-image: url(assets/images/art/slider04.jpg);">
            <div class="container">
                <div class="caption vertical-top text-right">

                    <h1 class="fadeIn-1 dark-bg light-color"><span>ore posae volor <br>quiate ut</span></h1>
                    <p class="fadeIn-2 light-color">Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem.</p>
                    <div class="fadeIn-3">
                        <a href="#" class="btn btn-large">Get started now</a>
                    </div><!-- /.fadeIn -->

                </div><!-- /.caption -->
            </div><!-- /.container -->
        </div><!-- /.item -->

        <div class="item" style="background-image: url(assets/images/art/slider05.jpg);">
            <div class="container">
                <div class="caption vertical-top text-center">

                    <h1 class="fadeInDown-1 light-color">Smped <br> quiate ut </h1>
                    <p class="fadeInDown-2 medium-color">Tumquam core posae volor remped modis volor.</p>
                    <div class="fadeInDown-3">
                        <a href="#" class="btn btn-large">Get started now</a>
                    </div><!-- /.fadeIn -->

                </div><!-- /.caption -->
            </div><!-- /.container -->
        </div><!-- /.item -->

    </div><!-- /.owl-carousel -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->


<!-- ============================================================= SECTION – PRODUCT ============================================================= -->

<section id="product">
    <div class="container inner">
        
        <div class="row">
            
            <div class="col-sm-6 inner-right-xs text-right">
                <figure><img src="assets/images/art/product01.jpg" alt=""></figure>
            </div><!-- /.col -->
            
            <div class="col-sm-6 inner-top-xs inner-left-xs">
                <h2>Fosae volor conecus</h2>
                <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo.</p>
                <a href="#" class="txt-btn">Check out the functions</a>
            </div><!-- /.col -->
            
        </div><!-- /.row -->
        
        <div class="row inner-top-md">
            
            <div class="col-sm-6 col-sm-push-6 inner-left-xs">
                <figure><img src="assets/images/art/product02.jpg" alt=""></figure>
            </div><!-- /.col -->
            
            <div class="col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
                <h2>Olor remped modis volor</h2>
                <p>Magnis modipsae que lib voloratati andigen daepeditem quiate es reporemus aut labor. Laceaque quiae sitiorem rest non restibusaes dem tumquam core posae volor remped modis volor. Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis lib dentibea autem inisita. Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem.</p>
                <a href="#" class="txt-btn">See our demos</a>
            </div><!-- /.col -->
            
        </div><!-- /.row -->
        
        <div class="row inner-top-md">
            
            <div class="col-sm-6 inner-right-xs text-right">
                <figure><img src="assets/images/art/product03.jpg" alt=""></figure>
            </div><!-- /.col -->
            
            <div class="col-sm-6 inner-top-xs inner-left-xs">
                <h2>Soloreiur qui commolu ptatemp </h2>
                <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis.</p>
                <a href="#" class="txt-btn">Learn more about it</a>
            </div><!-- /.col -->
            
        </div><!-- /.row -->
    
    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – PRODUCT : END ============================================================= -->


<!-- ============================================================= SECTION – DEMOS ============================================================= -->

<section id="visit-our-store" class="img-bg img-bg-soft tint-bg" style="background-image: url(assets/images/art/image-background04.jpg);">
    <div class="container inner">
        
        <div class="row">
            <div class="col-md-8 col-sm-9">
                <header>
                    <h1>Want to see our demos ?</h1>
                    <p>Magnis modipsae que voloratati andigen daepeditem quiate conecus aut labore. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam explabo.</p>
                </header>
                <a href="#" class="btn btn-large">Live demos</a>
            </div><!-- /.col -->
        </div><!-- /.row -->
        
    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – DEMOS : END ============================================================= -->



<!-- ============================================================= SECTION – BLOG ============================================================= -->

<section id="blog" class="light-bg">
    <div class="container inner-top-sm inner-bottom">
        
        <div class="row inner-bottom-xs">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>Latest news</h1>
                    <p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes.</p>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->
        
        <div class="row">
            <div class="col-sm-12">
                
                <div class="grid-blog col-3 no-sidebar">
                    <div class="posts">
                        
                        <div class="post format-gallery">
                            
                            <div class="post-content">
                                
                                <div id="owl-work" class="owl-carousel owl-inner-pagination owl-inner-nav post-media">
                                    
                                    <div class="item">
                                        <figure>
                                            <img src="assets/images/art/work06-lg.jpg" alt="">
                                        </figure>
                                    </div><!-- /.item -->
                                    
                                    <div class="item">
                                        <figure>
                                            <img src="assets/images/art/work02-lg.jpg" alt="">
                                        </figure>
                                    </div><!-- /.item -->
                                    
                                    <div class="item">
                                        <figure>
                                            <img src="assets/images/art/work08a-lg.jpg" alt="">
                                        </figure>
                                    </div><!-- /.item -->
                                    
                                    <div class="item">
                                        <figure>
                                            <img src="assets/images/art/work09-lg.jpg" alt="">
                                        </figure>
                                    </div><!-- /.item -->
                                    
                                    <div class="item">
                                        <figure>
                                            <img src="assets/images/art/work16-lg.jpg" alt="">
                                        </figure>
                                    </div><!-- /.item -->
                                    
                                </div><!-- /.owl-carousel -->
                                
                                <h2 class="post-title">
                                    <a href="http://andersnoren.se/themes/hemingway/drink-more-coffee-developers/">Extrait 1 du blog Worpress</a>
                                </h2>
                                
                                <ul class="meta">
                                    <li class="date">May 21, 2014</li>
                                    <li class="categories"><a href="#">Identity</a>, <a href="#">Data Lab</a></li>
                                    <li class="comments"><a href="#">24</a></li>
                                    <li class="likes"><a href="#">73</a></li>
                                </ul><!-- /.meta -->
                                
                                <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
                                
                                <a href="http://andersnoren.se/themes/hemingway/drink-more-coffee-developers/" class="btn">Read more</a>
                                
                            </div><!-- /.post-content --> 
                            
                        </div><!-- /.post -->
                        
                        <div class="post format-quote">
                            
                            <div class="post-content">
                                
                                <ul class="meta">
                                    <li class="date">May 21, 2014</li>
                                    <li class="likes"><a href="#">37</a></li>
                                </ul><!-- /.meta -->
                                
                                <blockquote>
                                    <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
                                    <footer><cite>Pierre Rabhi</cite></footer>
                                </blockquote>
                                
                            </div><!-- /.post-content --> 
                            
                        </div><!-- /.post -->
                        
                        <div class="post format-standard">
                            
                            <div class="post-content">
                                
                                <h2 class="post-title">
                                    <a href="http://andersnoren.se/themes/hemingway/drink-more-coffee-developers/">Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor.</a>
                                </h2>
                                
                                <ul class="meta">
                                    <li class="date">May 14, 2014</li>
                                    <li class="categories"><a href="#">Labs</a></li>
                                    <li class="comments"><a href="#">14</a></li>
                                    <li class="likes"><a href="#">30</a></li>
                                </ul><!-- /.meta -->
                                
                                <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
                                
                                <a href="http://andersnoren.se/themes/hemingway/drink-more-coffee-developers/" class="btn">Read more</a>
                                
                            </div><!-- /.post-content --> 
                            
                        </div><!-- /.post -->
                        
                        <div class="post format-link">
                            
                            <div class="post-content">
                                
                                <ul class="meta">
                                    <li class="date">May 01, 2014</li>
                                    <li class="categories"><a href="#">Interactive</a></li>
                                    <li class="likes"><a href="#">973</a></li>
                                </ul><!-- /.meta -->
                                
                                <h2 class="post-title">
                                    <a href="http://andersnoren.se/themes/hemingway/drink-more-coffee-developers/" target="_blank">Magnis modipsae que lib voloratati andigen.</a>
                                </h2>
                                
                                <a href="http://andersnoren.se/themes/hemingway/drink-more-coffee-developers/" target="_blank">http://mnemotix.com/blog</a>
                                
                            </div><!-- /.post-content --> 
                            
                        </div><!-- /.post --> 
                        
                    </div><!-- /.posts -->
                </div><!-- /.grid-blog -->
                
            </div><!-- /.col -->
        </div><!-- /.row -->
        
    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – BLOG : END ============================================================= -->



<!-- ============================================================= SECTION – CLIENTS ============================================================= -->

<section id="clients">
    <div class="container inner">
        
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>Clients</h1>
                    <p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes.</p>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->
        
        <div class="row inner-top-sm">
            <div class="col-sm-12">
                <div id="owl-clients" class="owl-carousel owl-outer-nav">
                    
                    <div class="item">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Client</h4>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="assets/images/art/client01.jpg" alt="">
                            </figure>
                    </div><!-- /.item -->
                    
                    <div class="item">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Client</h4>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="assets/images/art/client02.jpg" alt="">
                            </figure>
                    </div><!-- /.item -->
                    
                    <div class="item">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Client</h4>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="assets/images/art/client03.jpg" alt="">
                            </figure>
                    </div><!-- /.item -->
                    
                    <div class="item">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Client</h4>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="assets/images/art/client04.jpg" alt="">
                            </figure>
                    </div><!-- /.item -->
                    
                    <div class="item">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Client</h4>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="assets/images/art/client05.jpg" alt="">
                            </figure>
                    </div><!-- /.item -->
                    
                    <div class="item">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Client</h4>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="assets/images/art/client06.jpg" alt="">
                            </figure>
                    </div><!-- /.item -->
                    
                    <div class="item">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Client</h4>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="assets/images/art/client07.jpg" alt="">
                            </figure>
                    </div><!-- /.item -->
                    
                    <div class="item">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Client</h4>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="assets/images/art/client08.jpg" alt="">
                            </figure>
                    </div><!-- /.item -->
                    
                    <div class="item">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Client</h4>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="assets/images/art/client09.jpg" alt="">
                            </figure>
                    </div><!-- /.item -->
                    
                    <div class="item">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Client</h4>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="assets/images/art/client10.jpg" alt="">
                            </figure>
                    </div><!-- /.item -->
                    
                    <div class="item">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Client</h4>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="assets/images/art/client11.jpg" alt="">
                            </figure>
                    </div><!-- /.item -->
                    
                    <div class="item">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Client</h4>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="assets/images/art/client12.jpg" alt="">
                            </figure>
                    </div><!-- /.item -->
                    
                </div><!-- /.owl-carousel -->
            </div><!-- /.col -->
        </div><!-- /.row -->
        
    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – CLIENTS : END ============================================================= -->


<!-- ============================================================= SECTION – SHARE ============================================================= -->

<section id="share" class="light-bg">
    <div class="container">
        
        <div class="col-sm-4 reset-padding">
            <a href="#" class="btn-share-md">
                <p class="name">Facebook</p>
                <i class="icon-s-facebook"></i>
                <p class="counter">1340</p>
            </a>
        </div><!-- /.col -->
        
        <div class="col-sm-4 reset-padding">
            <a href="#" class="btn-share-md">
                <p class="name">Twitter</p>
                <i class="icon-s-twitter"></i>
                <p class="counter">770</p>
            </a>
        </div><!-- /.col -->
        
        <div class="col-sm-4 reset-padding">
            <a href="#" class="btn-share-md">
                <p class="name">Google +</p>
                <i class="icon-s-gplus"></i>
                <p class="counter">518</p>
            </a>
        </div><!-- /.col -->
        
    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – SHARE : END 