<!-- ============================================================= SECTION – FICHE ============================================================= -->

<section id="ficheMNX" class="pagetop">

	<div class="container inner">
		<div class="row">
			
			<div class="col-md-9 col-md-push-3 inner-left-md border-left">
				
				<!-- ============================================================= SECTION – CONTENT ============================================================= -->
			
				<section id="hero" class="inner-bottom-xs">
					<header>
	                    <h1>{{t "naturopedia.title"}}</h1>
					</header>
				</section>
				
				<section id="content" class="border-top-lg">
					<div class="row">
						
						<div class="col-sm-6 inner-right-xs inner-top-sm">
							<h2>{{t "naturopedia.1.title"}}</h2>
							<p>{{t "naturopedia.1.description"}}</p>							
							<figure>
								<img src="assets/images/art/work15.jpg" alt="">
							</figure>
						</div><!-- /.col -->
						
						<div class="col-sm-6 inner-left-xs inner-top-sm">
							<h2>{{t "naturopedia.2.title"}}</h2>
							<p>{{t "naturopedia.2.description"}}</p>							
							<figure>
								<img src="assets/images/art/work15.jpg" alt="">
							</figure>
						</div><!-- /.col -->
						
					</div><!-- ./row -->

					<div class="row">
					
					<div id="accordion" class="panel-group inner-top-sm">
						<div class="panel panel-default">			  
							
							<div class="panel-heading text-center">
								<h4 class="panel-title">
									<a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#usecase">
										<span>{{t "naturopedia.usecase.title"}}</span>
									</a>
								</h4>
							</div><!-- /.panel-heading -->
							
							<div id="usecase" class="panel-collapse collapse">
								<div class="panel-body">
									<p>{{t "naturopedia.usecase.description"}}</p>
								</div><!-- /.panel-body -->
							</div><!-- /.content -->
							
						</div><!-- /.panel -->
					</div><!-- /.accordion -->
						
					</div><!-- ./row -->
				</section>
				
				<!-- ============================================================= SECTION – CONTENT : END ============================================================= -->
				
			</div><!-- ./col -->
			
			<div class="col-md-3 col-md-pull-9 inner-right-md inner-bottom-sm sidebar">
				
				<!-- ============================================================= SIDE NAVIGATION ============================================================= -->
					
				<h3>{{t "fiche.services"}}</h3>
				<ul class="sidenav">
					<li class="starter-side"><a href="#mnxstarter">{{t "work.services.1.title"}}</a></li>
					<li class="booster-side"><a href="#mnxbooster">{{t "work.services.2.title"}}</a></li>
					<li class="consulting-side"><a href="#mnxconsulting">{{t "work.services.3.title"}}</a></li>
					<li class="training-side"><a href="#mnxtraining">{{t "work.services.4.title"}}</a></li>
				</ul><!-- /.sidenav -->
					
				<h3>{{t "fiche.solutions"}}</h3>
				<ul class="sidenav">
					<li class="server-side"><a href="#mnxserver">{{t "work.solutions.1.title"}}</a></li>
					<li class="webmarks-side"><a href="#mnxwebmarks">{{t "work.solutions.2.title"}}</a></li>
				</ul><!-- /.sidenav -->
					
				<h3>{{t "fiche.labs"}}</h3>
				<ul class="sidenav">
					<li class="naturopedia-side"><a href="#naturopedia">{{t "naturopedia.title"}}</a></li>
					<li class="cordis-side"><a href="#cordis">{{t "cordis.title"}}</a></li>
				</ul><!-- /.sidenav -->

				<a href="#" class="btn btn-large">{{t "fiche.demos"}}</a>

				<!-- ============================================================= SIDE NAVIGATION : END ============================================================= -->
				
			</div><!-- /.col -->
				
		</div><!-- /.row -->
	</div><!-- /.container -->

</section>

<!-- ============================================================= SECTION – FICHE : END ============================================================= -->


<!-- ============================================================= SECTION – GET IN TOUCH ============================================================ -->

<section id="get-in-touch" class="tint-bg">
	<div class="container inner-sm">
		<div class="row">
			<div class="col-sm-10 center-block text-center">
				<h1 class="single-block">{{t "fiche.touch.title"}} <a href="#contact" class="btn btn-large">{{t "fiche.touch.link"}}</a></h1>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<!-- ======================================================== SECTION – GET IN TOUCH : END ========================================================= -->