<!-- ============================================================= SECTION – SLIDES ============================================================= -->

<section id="slides" class="light-bg pagetop">
	<div class="container inner">
	
		<div class="video-container post-media embed-responsive">
			<iframe src="//www.slideshare.net/slideshow/embed_code/36584871" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width:100%;" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> 
		</div>
		
		<div class="row">
			
			<div class="col-md-9 inner-right-sm">
					
				<div class="post format-standard">
					
					<div class="post-content">
						
						<h2> Doloreiur qui commolu oreprerum.</h2>
						<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu oreprerum.</p>
						
					</div><!-- /.post-content -->
					
				</div><!-- /.post -->
				
				<div class="post format-link">
					
					<div class="post-content">
						<h2 class="post-title">
							<a href="http://www.wrapbootstrap.com" target="_blank">Retrouvez toutes nos présentations sur SlideShare</a>
						</h2>
						<a href="http://fr.slideshare.net/mnemotix/presentations" target="_blank">See our slideshows.</a>
					</div><!-- /.post-content --> 
					
				</div><!-- /.post -->
				
			</div><!-- /.col -->
			
			<aside class="col-md-3">
				
				<div class="sidebox widget">
					<h4>Recent slides</h4>
					
					<ul class="circled">
						<li><a href="http://fr.slideshare.net/mnemotix/economie-collaborative-mode-tendance-transition-durable">
							Economie collaborative: Mode? Tendance? Transition Durable?</a></li>
						<li><a href="#">Faepeditem quiate</a></li>
						<li><a href="#">Josae volor remped </a></li>
						<li><a href="#">Daceaque quiae</a></li>
						<li><a href="#">Nore posae</a></li>
					</ul><!-- /.circled -->
					
					<a href="#" class="txt-btn">All slides on SlideShares</a>
				</div><!-- /.widget -->
				
			</aside>
			
		</div><!-- /.row -->
		
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – SLIDES : END ============================================================= -->