<!-- ============================================================= SECTION – FICHE ============================================================= -->

<section id="ficheMNX" class="pagetop">

	<div class="container inner">
		<div class="row">
			
			<div class="col-md-9 col-md-push-3 inner-left-md border-left">
				
				<!-- ============================================================= SECTION – HERO ============================================================= -->
			
				<section id="hero" class="inner-bottom-xs">
					<header>
						<h1>MNX Datalab</h1>
					</header>
				</section>
				
				<!-- ============================================================= SECTION – HERO : END ============================================================= -->
				
				
				<!-- ============================================================= SECTION – CONTENT ============================================================= -->
				
				<section id="content" class="border-top-lg">
					<div class="row">
						
						<div class="col-sm-6 inner-right-xs inner-top-sm">
							<h2>The interface aspect</h2>
							
							<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni autem labor. Laceaque quiae sitiorem rest non restibusae es tumquam core posae volor remped modi volor. Doloreiur qui commolu temp dolupta oreprem tibusam. Eumenis consent accullignis autem inisita posae volor conecus resto explabo.</p>
							
							<figure>
								<img src="assets/images/art/work15.jpg" alt="">
							</figure>
							
							<p>Eumenis et consent accullignis dentibea autem inisita posae volor conecus es restivum explabore. Magnis modipsae que sitiorem voloratati andigen daepeditem quiate ut reporemni restibusae.</p>
						</div><!-- /.col -->
						
						<div class="col-sm-6 inner-left-xs inner-top-sm">
							<h2>The experience aspect</h2>
							
							<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni autem labor. Laceaque quiae sitiorem rest non restibusae es tumquam core posae volor remped modi volor. Doloreiur qui commolu temp dolupta oreprem tibusam. Eumenis consent accullignis autem inisita posae volor conecus resto explabo.</p>
							
							<figure>
								<img src="assets/images/art/photograph02.jpg" alt="">
							</figure>
							
							<p>Eumenis et consent accullignis dentibea autem inisita posae volor conecus es restivum explabore. Magnis modos que sitiorem voloratati andigen.</p>
						</div><!-- /.col -->
						
					</div><!-- ./row -->

					<div class="row">
					
					<div id="accordion" class="panel-group inner-top-sm">
						<div class="panel panel-default">			  
							
							<div class="panel-heading text-center">
								<h4 class="panel-title">
									<a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#usecase">
										<span>See the usecases</span>
									</a>
								</h4>
							</div><!-- /.panel-heading -->
							
							<div id="usecase" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes tumquam core posae volor remped modis volor. Dolorem qui comlus temp dolupta oreprerum tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo.</p>
								</div><!-- /.panel-body -->
							</div><!-- /.content -->
							
						</div><!-- /.panel -->
					</div><!-- /.accordion -->
						
					</div><!-- ./row -->
				</section>
				
				<!-- ============================================================= SECTION – CONTENT : END ============================================================= -->
				
			</div><!-- ./col -->
			
			<div class="col-md-3 col-md-pull-9 inner-right-md inner-bottom-sm">
				
				<!-- ============================================================= SIDE NAVIGATION ============================================================= -->
					
				SERVICES
				<ul class="sidenav">
					<li><a href="#">MNX DataLab</a></li>
					<li><a href="#">MNX Consulting</a></li>
					<li><a href="#">MNX Training</a></li>
					<li><a href="#">MNX Survey</a></li>
				</ul><!-- /.sidenav -->
					
				SOLUTIONS
				<ul class="sidenav">
					<li><a href="#">Server</a></li>
					<li><a href="#">Webmarks</a></li>
				</ul><!-- /.sidenav -->
					
				LABS
				<ul class="sidenav">
					<li><a href="#">Naturopédia</a></li>
					<li><a href="#">Projet 2</a></li>
				</ul><!-- /.sidenav -->

				<a href="#" class="btn btn-large">Live demos</a>

				<!-- ============================================================= SIDE NAVIGATION : END ============================================================= -->
				
			</div><!-- /.col -->
				
		</div><!-- /.row -->
	</div><!-- /.container -->

</section>
<!-- ============================================================= SECTION – FICHE : END ============================================================= -->


<!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->

<section id="get-in-touch" class="tint-bg">
	<div class="container inner-sm">
		<div class="row">
			<div class="col-sm-10 center-block text-center">
				<h1 class="single-block">Want to work with us? <a href="#contact" class="btn btn-large">Get in touch</a></h1>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->