<header class="headroom" data-headroom data-tolerance="10" data-offset="320" >

    <div class="navbar">

        <div class="navbar-header">
            <div class="container">

                <!-- LOGO MOBILE ============================================================= -->
                <a class="navbar-brand" href="#"><img src="assets/images/logo.svg" class="logo" alt=""></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div><!-- /.navbar-header -->

        <div class="yamm">
            <div class="navbar-collapse collapse">
                <div class="container">

                    <!-- LOGO ======================================================================== -->

                    <a class="navbar-brand" href="#"><img src="assets/images/logo.svg" class="logo" alt=""></a>

                    <!-- MAIN NAVIGATION ============================================================= -->

                    <ul class="nav navbar-nav">

                        <li class="dropdown whatwedo-menu">
                            <a href="#whatwedo" class="">What we do</a>
                        </li>

                        <li class="dropdown about-menu">
                            <a href="#about" class="">About us</a>
                        </li>

                        <li class="dropdown ressources-menu">
                            <a href="#" class="dropdown-toggle js-activated">Resources</a>
                            <ul class="dropdown-menu" data-hover="dropdown">
                                <li><a href="http://mnemotix.com/tutoriels/">Tutorials</a></li>
                                <li><a href="http://mnemotix.com/publications/">Publications</a></li>
                                <li><a href="http://mnemotix.com/videos/">Videos</a></li>
                                <li><a href="http://mnemotix.com/slideshares/">Slides</a></li>
                                <li><a href="#glossary">Glossary</a></li>
                                <li><a href="#questions">FAQ</a></li>
                            </ul><!-- /.dropdown-menu -->
                        </li><!-- /.dropdown -->

                        <li class="dropdown blog-menu">
                            <a href="http://mnemotix.com/blogtemp/" class="">Blog</a>
                        </li>

                        <li class="dropdown contact-menu">
                            <a href="#contact" class="">Contact</a>
                        </li>
                        <li class="dropdown twitter-menu">
                            <a href="https://twitter.com/mnemotix" target="blank" class="visible-xs-block visible-sm-block">See us on Twitter</a>
                            <a href="https://twitter.com/mnemotix" target="blank" title="See us on Twitter" class="visible-md-block visible-lg-block"><i class="icon-s-twitter"></i></a>
                        </li>

                    </ul><!-- /.nav -->

                </div><!-- /.container -->
            </div><!-- /.navbar-collapse -->
        </div><!-- /.yamm -->

    </div><!-- /.navbar -->

</header>