<!-- ============================================================= SECTION – FAQ ============================================================= -->

<section id="faq" class="light-bg">
	<div class="container inner">
		
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
					<h1>Questions?</h1>
					<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->
		
		<div class="row">
		
			<div class="col-sm-6 inner-right-sm inner-top-sm">
				
				<h3>Honecus iure posae volor remped modis?</h3>
				<p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
				
				<h3>Caccabora incim res?</h3>
				<p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
				
				<h3>W eictemperum quiae?</h3>
				<p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
				
			</div><!-- /.col -->
		
			<div class="col-sm-6 inner-left-sm inner-top-sm">
				
				<h3>I resto explabo eictemperum quiae ?</h3>
				<p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
				
				<h3>Witiorem volor remped modis volo?</h3>
				<p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
				
				<h3>Cemped modis aut acca?</h3>
				<p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
				
			</div><!-- /.col -->
			
		</div><!-- /.row -->
		
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – FAQ : END ============================================================= -->


<!-- ============================================================= SECTION – CONTACT US ============================================================= -->

<section id="contact-us" class="tint-bg">
	<div class="container inner-sm">
		<div class="row">
			<div class="col-sm-10 center-block text-center">
				<h1 class="single-block">Need more help? <a href="#contact" class="btn btn-large">Contact us</a></h1>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – CONTACT US : END ============================================================= -->