<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero" class="light-bg img-bg-bottom img-bg-softer" style="background-image: url(assets/images/art/slider03.jpg);">
	<div class="container inner">
		
		<div class="row">
			<div class="col-md-8 col-sm-9">
				<header>
					<h1>What are we doing</h1>
					<p>Magnis modipsae que voloratati andigen daepeditem quiate aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam.</p>
				</header>
			</div><!-- /.col -->
		</div><!-- ./row -->
		
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->

<!-- ============================================================= SECTION – SERVICES ============================================================= -->

<section id="services">
	<div class="container inner">
		
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
					<h1>Services</h1>
					<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
				</header>
			</div><!-- /.col -->
		</div><!-- ./row -->

		<div class="row">
			<div class="col-xs-12 inner-top">
				<div class="tabs tabs-services tabs-circle-top tab-container">
					
					<ul class="nav nav-tabs text-center" role="tablist" id="services-tabs">
						<li class="tab"><a href="javascript:void(0)" role="tab" data-target="#tab-1" data-toggle="tab"><div><i class="icon-lamp"></i></div>MNX DataLab</a></li>
						<li class="tab"><a href="javascript:void(0)" role="tab" data-target="#tab-2" data-toggle="tab"><div><i class="icon-flow-tree"></i></div>MNX Consulting</a></li>
						<li class="tab"><a href="javascript:void(0)" role="tab" data-target="#tab-3" data-toggle="tab"><div><i class="icon-beaker"></i></div>MNX Training</a></li>
						<li class="tab"><a href="javascript:void(0)" role="tab" data-target="#tab-4" data-toggle="tab"><div><i class="icon-code"></i></div>MNX Survey</a></li>
					</ul><!-- /.etabs -->
					
					<div class="panel-container tab-content">
						
						<div class="tab-pane fade in active" id="tab-1">
							<div class="row">
								
								<div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
									<figure><img src="assets/images/art/product05.jpg" alt=""></figure>
								</div><!-- /.col -->
								
								<div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
									<h3>MNX DataLab</h3>
									<p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
                					<a href="#mnxdatalab" class="txt-btn">Learn more about it</a>
								</div><!-- /.col -->
								
							</div><!-- /.row -->
						</div><!-- /.tab-pane -->
						
						<div class="tab-pane fade" id="tab-2">
							<div class="row">
								
								<div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
									<figure><img src="assets/images/art/product01.jpg" alt=""></figure>
								</div><!-- /.col -->
								
								<div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
									<h3>MNX Consulting</h3>
									<p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
                					<a href="#mnxdatalab" class="txt-btn">Learn more about it</a>
								</div><!-- /.col -->
								
							</div><!-- /.row -->
						</div><!-- /.tab-pane -->
						
						<div class="tab-pane fade" id="tab-3">
							<div class="row">
								
								<div class="col-md-4 col-md-push-3 col-md-offset-1 col-sm-6 inner-left-xs inner-right-xs">
									<figure><img src="assets/images/art/product06.jpg" alt=""></figure>
								</div><!-- /.col -->
								
								<div class="col-md-3 col-md-pull-4 col-sm-6 inner-top-xs">
									<h3>MNX Training</h3>
									<p>Magnis modipsae lib voloratati andigen daepedor quiate aut labor. Laceaque quiae sitiorem resti est lore tumquam core posae volor uso remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent it accullignis orum lomnus.</p>
								</div><!-- /.col -->
								
								<div class="col-md-3 col-sm-6 inner-top-xs">
									<h3>Doloreiur qui commolu</h3>
									<p>Magnis modipsae lib voloratati andigen daepedor quiate aut labor. Laceaque quiae sitiorem resti est lore tumquam core posae volor uso remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent it accullignis orum lomnus.</p>
                					<a href="#mnxdatalab" class="txt-btn">Learn more about it</a>
								</div><!-- /.col -->
								
							</div><!-- /.row -->
						</div><!-- /.tab-pane -->
						
						<div class="tab-pane fade" id="tab-4">
							<div class="row">
								<div class="col-md-8 col-sm-9 center-block text-center">
									<h3>MNX Survey</h3>
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis.</p>
								</div><!-- /.col -->
							</div><!-- /.row -->
						</div><!-- /.tab-pane -->
						 
					</div><!-- /.panel-container -->
					 
				</div><!-- /.tabs -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – SERVICES : END ============================================================= -->


<!-- ============================================================= SECTION – SOLUTIONS ============================================================= -->

<section id="two-big-tabs" class="light-bg">
	<div class="container inner-top">
		
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
					<h1>Solutions</h1>
					<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->
		
		<div class="row inner-top-sm">
			<div class="col-xs-12">
				<div class="tabs tabs-2-big-top tab-container">
					
					<ul class="etabs text-center">
						
						<li class="tab">
							<a href="#tab-5">
								<h3>Server</h3>
								<p class="text-small">Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.</p>
                				<a href="#mnxdatalab" class="txt-btn">Learn more about it</a>
							</a><!-- /#tab-5 -->
						</li><!-- /.tabs -->
						
						<li class="tab">
							<a href="#tab-6">
								<h3>Webmarks</h3>
								<p class="text-small">Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.</p>
                				<a href="#mnxdatalab" class="txt-btn">Learn more about it</a>
							</a><!-- /#tab-2 -->
						</li><!-- /.tabs -->
						
					</ul><!-- /.etabs -->
					
					<div class="panel-container screen-container">
						
						<div class="tab-pane fade" id="tab-5">
							<div class="row">
								<div class="col-md-12">
									<figure><img src="assets/images/art/photograph01-lg.jpg" alt=""></figure>
								</div><!-- /.col -->
							</div><!-- /.row -->
						</div><!-- /.tab-pane -->
						
						<div class="tab-pane fade" id="tab-6">
							<div class="row">
								<div class="col-md-12">
									<figure><img src="assets/images/art/work14-lg.jpg" alt=""></figure>
								</div><!-- /.col -->
							</div><!-- /.row -->
						</div><!-- /.tab-pane -->
						 
					</div><!-- /.panel-container -->
					 
				</div><!-- /.tabs -->
			</div><!-- /.col -->
		</div><!-- /.row -->
		
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – SOLUTIONS : END ============================================================= -->


<!-- ============================================================= SECTION – WORK SAMPLES ============================================================= -->

<section id="work-samples" class="dark-bg">
	<div class="container inner">
		
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
					<h1>Labs</h1>
					<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->
		
		<div class="row inner-top-sm">
			<div class="col-sm-12">
				<div id="owl-work-samples" class="owl-carousel owl-item-gap">
					
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 1</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 2</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 3</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 4</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 5</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 6</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 7</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 8</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 9</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
					
				</div><!-- /.owl-carousel -->
			</div><!-- /.col -->
		</div><!-- /.row -->
		
	</div><!-- /.container -->
	
</section>

<!-- ============================================================= SECTION – WORK SAMPLES : END ============================================================= -->



<!-- ============================================================= SECTION – CLIENTS ============================================================= -->

<section id="clients">
	<div class="container inner">
		
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
					<h1>Clients</h1>
					<p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes.</p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->
		
		<div class="row inner-top-sm">
			<div class="col-sm-12">
				<div id="owl-clients" class="owl-carousel owl-outer-nav">
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client01.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client02.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client03.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client04.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client05.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client06.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client07.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client08.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client09.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client10.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client11.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client12.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
				</div><!-- /.owl-carousel -->
			</div><!-- /.col -->
		</div><!-- /.row -->
		
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – CLIENTS : END ============================================================= -->


<!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->

<section id="get-in-touch" class="light-bg">
	<div class="container inner-sm">
		<div class="row">
			<div class="col-sm-10 center-block text-center">
				<h1 class="single-block">Want to work with us? <a href="#contact" class="btn btn-large">Get in touch</a></h1>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->