<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero" class="pagetop light-bg img-bg-bottom img-bg-softer tint-bg" style="background-image: url(assets/images/art/slider03.jpg);">
	<div class="container inner">
		
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
					<h1>What are we doing</h1>
					<p>Nous développons et commercialisons une gamme de <b>services outillés</b> pour apporter à nos clients des solutions concrètes à leurs problèmes de structuration de fonds documentaires, d’animation communautaire et <b>d’intelligence collective</b> par l’analyse et la valorisation de données métiers.</p>
				</header>
			</div><!-- /.col -->
		</div><!-- ./row -->
		
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->

<!-- ============================================================= SECTION – SERVICES ============================================================= -->

<section id="services">
	<div class="container inner">
		
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
					<h1>Services</h1>
					<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
				</header>
			</div><!-- /.col -->
		</div><!-- ./row -->

		<div class="row">
			<div class="col-xs-12 inner-top">
				<div class="tabs tabs-services tabs-circle-top tab-container">
					<ul class="nav etabs text-center hidden-xs" role="tablist" id="services-tabs">
						<li class="tab active"><a href="javascript:void(0)" role="tab" data-target="#tab-1" data-toggle="tab"><div><i class="icon-lamp"></i></div>MNX Start-in</a></li>
						<li class="tab"><a href="javascript:void(0)" role="tab" data-target="#tab-2" data-toggle="tab"><div><i class="icon-flow-tree"></i></div>MNX Boost-in</a></li>
						<li class="tab"><a href="javascript:void(0)" role="tab" data-target="#tab-3" data-toggle="tab"><div><i class="icon-beaker"></i></div>MNX Consult-in</a></li>
						<li class="tab"><a href="javascript:void(0)" role="tab" data-target="#tab-4" data-toggle="tab"><div><i class="icon-code"></i></div>MNX Train-in</a></li>
					</ul>
					
					<div class="panel-container tab-content">
						
						<div class="tab-pane fade in active" id="tab-1">
							<div class="row">
								
								<div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
									<figure><img src="assets/images/art/product05.jpg" alt=""></figure>
								</div><!-- /.col -->
								
								<div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
									<h3>MNX Start-in</h3>
									<p>Service d’analyse et de valorisation de données métiers pour les entreprises et les communautés d’intérêts. Il répond aux besoins des petites structures avec sa composition clé en main et modulable.</p>
                					<a href="#mnxdatalab" class="txt-btn">Learn more about it</a>
								</div><!-- /.col -->
								
							</div><!-- /.row -->
						</div><!-- /.tab-pane -->
						
						<div class="tab-pane fade" id="tab-2">
							<div class="row">
								
								<div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
									<figure><img src="assets/images/art/product01.jpg" alt=""></figure>
								</div><!-- /.col -->
								
								<div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
									<h3>MNX Boost-in</h3>
									<p>Service de développement et intégration de briques technologiques. Il s’adresse aux sociétés disposant déjà de leur propre solution et qui souhaitent l’augmenter grâce à notre expertise.</p>
                					<a href="#mnxdatalab" class="txt-btn">Learn more about it</a>
								</div><!-- /.col -->
								
							</div><!-- /.row -->
						</div><!-- /.tab-pane -->
						
						<div class="tab-pane fade" id="tab-3">
							<div class="row">
								
								<div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
									<figure><img src="assets/images/art/product05.jpg" alt=""></figure>
								</div><!-- /.col -->
								
								<div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
									<h3>MNX Consult-in</h3>
									<p>Nous proposons aux entreprises notre expertise en accompagnement technique (AMO), ingénierie logicielle et mise en production de projets innovants.</p>
                					<a href="#mnxdatalab" class="txt-btn">Learn more about it</a>
								</div><!-- /.col -->
								
							</div><!-- /.row -->
						</div><!-- /.tab-pane -->
						
						<div class="tab-pane fade" id="tab-4">
							<div class="row">

								<div class="col-md-8 col-sm-9 center-block text-center">
									<h3>MNX Train-in</h3>
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis.</p>
                					<a href="#mnxdatalab" class="txt-btn">Learn more about it</a>
								</div><!-- /.col -->
								
							</div><!-- /.row -->
						</div><!-- /.tab-pane -->
						 
					</div><!-- /.panel-container -->
					 
				</div><!-- /.tabs -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – SERVICES : END ============================================================= -->

			
<!-- ============================================================= SECTION – SOLUTIONS ============================================================= -->

<section id="solutions" class="light-bg">
	<div class="container inner">
		
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
					<h1>Solutions</h1>
					<p>Nos solutions s’appuient exclusivement sur des technologies open-source dont certaines directement issues de nos collaborations avec la recherche. Fervents défenseurs d’un Web libre et ouvert, nous garantissons dans nos solutions le respect et la promotion des standards du W3C et du Web de données. </p>
					<p>Depuis sa création, Mnémotix capitalise le fruit de ses développements R&D dans son <b>Mnémokit</b>, une bibliothèque logicielle destinée à faciliter la collecte, l’analyse ou la visualisation de données, qu’elles soient issues du Web, de bases métiers ou de plates-formes communautaires.</p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->
		
		<div class="row pricing">
			
			<div class="col-md-4 col-md-offset-2 col-sm-6 inner-top-sm">
				<div class="plan">
					
					<header>
						<h2>Server</h2>
						<p class="text-small">Le MNX Server est un middleware sémantique, destiné à assembler les briques du Mnémokit en une chaîne de traitement extensible et personnalisable. Grâce à une API REST standard, il permet de fédérer et d’enrichir les applications d’entreprises existantes et de leur conférer de nouvelles capacités d’analyse pour une meilleure gestion des compétences ou des communautés.</p>
						<p class="text-small">Il est au coeur de nos services MNX Start-in et MNX Boost-in, décliné suivant les besoins et exigences des clients..</p>
						
						<a href="#mnxdatalab" class="btn">Learn more</a>
					</header>
					
				</div><!-- /.plan -->
			</div><!-- /.col -->
			
			<div class="col-md-4 col-sm-6 inner-top-sm">
				<div class="plan">
					
					<header>
						<h2>Webmarks</h2>
						<p class="text-small">Webmarks est une solution de veille collaborative basée sur un principe de bookmarking et de curation sémantique qui révèle et dynamise les interactions dans une communauté. Webmarks met en résonance les construits sociaux déployés grâce au web 2.0 avec les liens du web sémantique et facilite l’observation des effets réseaux invisibles et des interactions sociales insoupçonnées dans un contexte de management de l’information en organisation.</p>
						
						<a href="#mnxdatalab" class="btn">Learn more</a>
					</header>
					
				</div><!-- /.plan -->
			</div><!-- /.col -->
			
		</div><!-- /.row -->
		
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – SOLUTIONS : END ============================================================= -->


<!-- ============================================================= SECTION – WORK SAMPLES ============================================================= -->

<section id="work-samples" class="dark-bg">
	<div class="container inner">
		
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
					<h1>Labs</h1>
					<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->
		
		<div class="row inner-top-sm">
			<div class="col-sm-12">
				<div id="owl-work-samples" class="owl-carousel owl-item-gap">
					
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 1</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 2</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 3</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 4</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 5</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 6</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 7</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 8</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 9</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
					
				</div><!-- /.owl-carousel -->
			</div><!-- /.col -->
		</div><!-- /.row -->
		
	</div><!-- /.container -->
	
</section>

<!-- ============================================================= SECTION – WORK SAMPLES : END ============================================================= -->



<!-- ============================================================= SECTION – CLIENTS ============================================================= -->

<section id="clients">
	<div class="container inner">
		
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
					<h1>Clients</h1>
					<p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes.</p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->
		
		<div class="row inner-top-sm">
			<div class="col-sm-12">
				<div id="owl-clients" class="owl-carousel owl-outer-nav">
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client01.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client02.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client03.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client04.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client05.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client06.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client07.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client08.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client09.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client10.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client11.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client12.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
				</div><!-- /.owl-carousel -->
			</div><!-- /.col -->
		</div><!-- /.row -->
		
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – CLIENTS : END ============================================================= -->


<!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->

<section id="get-in-touch" class="light-bg">
	<div class="container inner-sm">
		<div class="row">
			<div class="col-sm-10 center-block text-center">
				<h1 class="single-block">Want to work with us? <a href="#contact" class="btn btn-large">Get in touch</a></h1>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->