<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero" class="pagetop light-bg img-bg-bottom img-bg-softer tint-bg" style="background-image: url(assets/images/art/slider03.jpg);">
	<div class="container inner">
		
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
                    <h1>{{t "work.hero.title"}}</h1>
                    <p>{{t "work.hero.description"}}</p>
				</header>
			</div><!-- /.col -->
		</div><!-- ./row -->
		
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->

<!-- ============================================================= SECTION – SERVICES ============================================================= -->

<section id="services">
	<div class="container inner">
		
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
                    <h1>{{t "work.services.title"}}</h1>
                    <p>{{t "work.services.description"}}</p>
				</header>
			</div><!-- /.col -->
		</div><!-- ./row -->

		<div class="row">
			<div class="col-xs-12 inner-top">
				<div class="tabs tabs-services tabs-circle-top tab-container">
					<ul class="nav etabs text-center hidden-xs" role="tablist" id="services-tabs">
						<li class="tab active"><a href="javascript:void(0)" role="tab" data-target="#tab-1" data-toggle="tab"><div><i class="icon-lamp"></i></div>{{t "work.services.1.title"}}</a></li>
						<li class="tab"><a href="javascript:void(0)" role="tab" data-target="#tab-2" data-toggle="tab"><div><i class="icon-flow-tree"></i></div>{{t "work.services.2.title"}}</a></li>
						<li class="tab"><a href="javascript:void(0)" role="tab" data-target="#tab-3" data-toggle="tab"><div><i class="icon-beaker"></i></div>{{t "work.services.3.title"}}</a></li>
						<li class="tab"><a href="javascript:void(0)" role="tab" data-target="#tab-4" data-toggle="tab"><div><i class="icon-code"></i></div>{{t "work.services.4.title"}}</a></li>
					</ul>
					
					<div class="panel-container tab-content">
						
						<div class="tab-pane fade in active" id="tab-1">
							<div class="row">
								
								<div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
									<figure><img src="assets/images/art/product05.jpg" alt=""></figure>
								</div><!-- /.col -->
								
								<div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
				                    <h3>{{t "work.services.1.title"}}</h3>
				                    <p>{{t "work.services.1.description"}}</p>
                					<a href="#mnxstarter" class="txt-btn">{{t "work.services.link"}}</a>
								</div><!-- /.col -->
								
							</div><!-- /.row -->
						</div><!-- /.tab-pane -->
						
						<div class="tab-pane fade" id="tab-2">
							<div class="row">
								
								<div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
									<figure><img src="assets/images/art/product01.jpg" alt=""></figure>
								</div><!-- /.col -->
								
								<div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
				                    <h3>{{t "work.services.2.title"}}</h3>
				                    <p>{{t "work.services.2.description"}}</p>
                					<a href="#mnxbooster" class="txt-btn">{{t "work.services.link"}}</a>
								</div><!-- /.col -->
								
							</div><!-- /.row -->
						</div><!-- /.tab-pane -->
						
						<div class="tab-pane fade" id="tab-3">
							<div class="row">
								
								<div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
									<figure><img src="assets/images/art/product05.jpg" alt=""></figure>
								</div><!-- /.col -->
								
								<div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
				                    <h3>{{t "work.services.3.title"}}</h3>
				                    <p>{{t "work.services.3.description"}}</p>
                					<a href="#mnxconsulting" class="txt-btn">{{t "work.services.link"}}</a>
								</div><!-- /.col -->
								
							</div><!-- /.row -->
						</div><!-- /.tab-pane -->
						
						<div class="tab-pane fade" id="tab-4">
							<div class="row">

								<div class="col-md-8 col-sm-9 center-block text-center">
				                    <h3>{{t "work.services.4.title"}}</h3>
				                    <p>{{t "work.services.4.description"}}</p>
                					<a href="#mnxtraining" class="txt-btn">{{t "work.services.link"}}</a>
								</div><!-- /.col -->
								
							</div><!-- /.row -->
						</div><!-- /.tab-pane -->
						 
					</div><!-- /.panel-container -->
					 
				</div><!-- /.tabs -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – SERVICES : END ============================================================= -->

			
<!-- ============================================================= SECTION – SOLUTIONS ============================================================= -->

<section id="solutions" class="light-bg">
	<div class="container inner">
		
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
                    <h1>{{t "work.solutions.title"}}</h1>
                    <p>{{t "work.solutions.description"}}</p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->
		
		<div class="row pricing">
			
			<div class="col-md-4 col-md-offset-2 col-sm-6 inner-top-sm">
				<div class="plan">
					
					<header>
						<h2>{{t "work.solutions.1.title"}}</h2>
						<p class="text-small">{{t "work.solutions.1.description"}}</p>
						<a href="#mnxserver" class="btn">{{t "work.solutions.link"}}</a>
					</header>
					
				</div><!-- /.plan -->
			</div><!-- /.col -->
			
			<div class="col-md-4 col-sm-6 inner-top-sm">
				<div class="plan">
					
					<header>
						<h2>{{t "work.solutions.2.title"}}</h2>
						<p class="text-small">{{t "work.solutions.2.description"}}</p>
						<a href="#mnxwebmarks" class="btn">{{t "work.solutions.link"}}</a>
					</header>
					
				</div><!-- /.plan -->
			</div><!-- /.col -->
			
		</div><!-- /.row -->
		
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – SOLUTIONS : END ============================================================= -->


<!-- ============================================================= SECTION – WORK SAMPLES ============================================================= -->

<section id="work-samples" class="dark-bg">
	<div class="container inner">
		
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
                    <h1>{{t "work.labs.title"}}</h1>
                    <p>{{t "work.labs.description"}}</p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->
		
		<div class="row inner-top-sm">
			<div class="col-sm-12">
				<div id="owl-work-samples" class="owl-carousel owl-item-gap">
					
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#naturopedia"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#naturopedia">Naturopédia</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#cordis"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#cordis">Cordis</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 3</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 4</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 5</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 6</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 7</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 8</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
				
					<div class="item">
						<figure>
						
							<div class="icon-overlay icn-link">
							<a href="#mnxdatalab"><img src="assets/images/art/work01.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="#mnxdatalab">Projet 9</a></h4>
									<p>Label</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.item -->
					
				</div><!-- /.owl-carousel -->
			</div><!-- /.col -->
		</div><!-- /.row -->
		
	</div><!-- /.container -->
	
</section>

<!-- ============================================================= SECTION – WORK SAMPLES : END ============================================================= -->



<!-- ============================================================= SECTION – CLIENTS ============================================================= -->

<section id="clients">
	<div class="container inner">
		
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
                    <h1>{{t "home.clients.title"}}</h1>
                    <p>{{t "home.clients.description"}}</p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->
		
		<div class="row inner-top-sm">
			<div class="col-sm-12">
				<div id="owl-clients" class="owl-carousel owl-outer-nav">
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client01.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client02.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client03.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client04.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client05.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client06.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client07.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client08.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client09.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client10.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client11.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
					<div class="item">
							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4>Client</h4>
									</div><!-- /.info -->
								</figcaption>
								<img src="assets/images/art/client12.jpg" alt="">
							</figure>
					</div><!-- /.item -->
					
				</div><!-- /.owl-carousel -->
			</div><!-- /.col -->
		</div><!-- /.row -->
		
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – CLIENTS : END ============================================================= -->


<!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->

<section id="get-in-touch" class="light-bg">
	<div class="container inner-sm">
		<div class="row">
			<div class="col-sm-10 center-block text-center">
				<h1 class="single-block">{{t "work.touch.title"}} <a href="#contact" class="btn btn-large">{{t "work.touch.link"}}</a></h1>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->